<!DOCTYPE html>
<html lang="cs-CZ">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Chateen - wykys">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="https://gitlab.com/wykys/chateen/-/raw/master/img/chateen.svg" type="image/svg+xml">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{{ title }}</title>
</head>

<body class="bg-dark text-light">

    <header class="jumbotron text-center">
        <a href="https://gitlab.com/wykys/chateen">
            <img src="https://gitlab.com/wykys/chateen/-/raw/master/img/chateen_dark.svg" alt="Chateen Logo"
                style="width: 5rem;"></img>
        </a>
        <h1 class="text-light">Chateen</h1>
        <h5>{{ title }}</h5>
    </header>

    <div class="container-sm gap-1">

        {% set colors_list = ['lime', 'orangered', 'cyan', 'orange', 'magenta'] %}
        {% set number_of_colors = 5 %}
        {% set ns = namespace(color_index=number_of_colors) %}

        {% for msg in messages %}

        {% set flag_update = True %}

        {% if loop.index0 > 0 %}
        {% if loop.previtem.participant == msg.participant %}
        {% set flag_update = False %}
        {% endif %}
        {% endif %}

        {% if flag_update %}
        {% set ns.color_index = ns.color_index + 1 %}
        {% if ns.color_index >= number_of_colors %}
        {% set ns.color_index = 0 %}
        {% endif %}
        {% endif %}

        {% set color = colors_list[ns.color_index] %}

        <div class="container-sm p-1">

            {% if loop.index0 == 0 or loop.previtem.datetime.strftime("%d.%m.%Y") != msg.datetime.strftime("%d.%m.%Y")
            %}
            <div class="row">
                <div class="col-12 text-center text-secondary">
                    <hr>
                    {{ msg.datetime.strftime("%d.%m.%Y") }}
                    <hr>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-4">
                    {% if flag_update %}
                    <span style="color: {{ color }};">
                        {{ msg.participant.name }}
                    </span>
                    <br>
                    {% endif %}
                    <span class="text-secondary text-align-top small">{{
                        msg.datetime.strftime("%H:%M:%S") }}</span>
                </div>
                <div class="col-8">
                    <div class="card"
                        style="background: #111; border-radius: 1rem; border: 1px {{ color }} solid; color: {{ color }}">
                        <div class="card-body p-2">
                            <p class="card-text">{{ msg.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ '' if progress(100 * loop.index / number_of_tags, file) else '' }}
        {% endfor %}
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
    integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
    integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
    crossorigin="anonymous"></script>

</html>
